:host {
  --button_bgColor: #ffffff;
  --button_bgColor__hover: #ffffff;
  --button_borderColor: #eeeeee;
  --button_borderColor__hover: #cccccc;
  --button_boxShadow: 0 0 1px 0 rgba(0, 0, 0, 0.075), 0 1px 2px 0 rgba(0, 0, 0, 0.075), 0 2px 3px 0 rgba(0, 0, 0, 0.075);
  --button_boxShadow__hover: 0 1px 1px 0 rgba(0, 0, 0, 0.075), 0 2px 2px 0 rgba(0, 0, 0, 0.075), 0 3px 3px 0 rgba(0, 0, 0, 0.075);
  --button_color: #444444;
  --button_color__hover: #222222;
  --button_fontFamily: 'Inter', sans-serif;
}

.v_button {
  background-color: var(--button_bgColor);
  border: 1px solid var(--button_borderColor);
  border-radius: 5px;
  box-shadow: var(--button_boxShadow);
  color: var(--button_color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--button_fontFamily);
  padding: 8px 12px;

  &:hover {
    background-color: var(--button_bgColor__hover);
    border: 1px solid var(--button_borderColor__hover);
    box-shadow: var(--button_boxShadow__hover);
    color: var(--button_color__hover);
  }
}
