:host {
  --modal_container_bgColor: #ffffff;
  --modal_container_shadow: 0 0 5px 0 rgba(0, 0, 0, 0.075), 0 0 10px 2px rgba(0, 0, 0, 0.075), 0 0 15px 3px rgba(0, 0, 0, 0.075), 0 0 20px 4px rgba(0, 0, 0, 0.075);
  --modal_overlay_bgColor: #000000;
  --modal_fontFamily: 'Inter', sans-serif;

  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  position: relative;

  &.is_visible {
    display: flex;
  }
}

.overlay {
  background-color: var(--modal_overlay_bgColor);
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 5000ms ease-in-out;
  width: 100%;
  z-index: 0;

  .is_open & {
    opacity: 0.5;
  }

  .is_visible & {
    display: block;
  }
}

.container {
  background-color: var(--modal_container_bgColor);
  box-shadow: var(--modal_container_shadow);
  display: none;
  flex-direction: column;
  opacity: 0;
  width: 100%;
  z-index: 1;

  .is_open & {
    opacity: 1;
  }

  .is_visible & {
    display: flex;
  }
}

.header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: var(--modal_fontFamily);
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0 0 0 15px;
}

.content {
  width: 100%;
}
